/* Contact.css */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .active-tab {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .call-tab,
  .chat-tab {
    display: none;
  }
  
  .active-tab-content {
    display: block;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .schedule-call-container{
    margin-bottom: 10%;
  }
  /* Add more specific styling for your calendar and chat interface */
  